body {
  background-color: #e5e5e5;
  display: flex;
  height: 90vh;
  width: 90vw;
  min-height: 100%;
  font-family: monospace;
}

.logo {
  margin: 30px 0 0 60px;
}

textarea {
  color: #0a3871;
  font-size: 32px;
  font-weight: 100%;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 70%;
  font-size: 32px;
  color: #0a3871;
  padding: 2px;
  outline: none;
  resize: none;
}

#txt-in {
  align-items: center;
  vertical-align: top;
}

#txt-in::placeholder {
  color: #0a3871;
}

#txt-out {
  background-color: #fff;
  margin: 30px 20px 10px 20px;
  color: #0a3871;
  font-size: 32px;
  text-align: center;
  color: #495057;
  text-transform: lowercase;
}

#txt-out::placeholder {
  color: #0a3871;
  font-size: 20px;
  text-align: center;
  color: #495057;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: auto;
  height: 18px;
  left: 13%;
  top: 651px;
}

.info p {
  font-size: 12px;
  color: #495057;
  margin: 0 0 0 5px;
}

/* criptografar */
.codificar {
  box-sizing: border-box;
  width: 50vw;
  height: 80vh;
  margin: 100px 0 0 10px;
  justify-content: center;
  padding: 10px 80px;
}

.main .codificar .line {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.main .codificar .info .line {
  font-size: 20px;
  border-right: 3px solid #072b61;
  white-space: nowrap;
  overflow: hidden;
}

.botoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao {
  display: flex;
  border-radius: 18px;
  width: 230px;
  height: 45px;
  border: #0a3871 solid 2px;
  box-shadow: 2px 4px 2px #00000040;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  letter-spacing: 0.05em;
}

.botaocriptador {
  background-color: #0a3871;
  color: white;
  outline: 0;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 -4px 0 0 rgb(128, 128, 128);
  height: 67px;
  width: 328px;
  left: 0px;
  top: 0px;
  border-radius: 24px;
  padding: 24px;
}

.botaocriptador:hover {
  background-color: #072b61;
  color: white;
  filter: drop-shadow(2px 4px 2px #00000025);
}

.botaocriptador:active {
  box-shadow: none;
}

.botaodescriptador {
  color: #072b61;
  background: #d8dfe8;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 -4px 0 0 rgb(202, 202, 202);
  color: Light blue;
  height: 67px;
  width: 328px;
  left: 352px;
  top: 0px;
  border-radius: 24px;
  padding: 24px;
}

.botaodescriptador:hover {
  color: #0a3871;
  border-color: #0f4c81;
  background: #d8dfe8;
  filter: drop-shadow(2px 4px 2px #00000025);
}

.botaodescriptador:active {
  color: #072b61;
  box-shadow: none;
}

.copiar {
  background-color: #0a3871;
  color: white;
  outline: 0;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 -4px 0 0 rgb(128, 128, 128);
  height: 67px;
  width: 328px;
  left: 0px;
  top: 0px;
  border-radius: 24px;
  padding: 24px;
}
.copiar:hover {
  background-color: #072b61;
  color: white;
  filter: drop-shadow(2px 4px 2px #00000025);
}
.copiar:active {
  box-shadow: none;
}

/* descriptografar */
#decodificar {
  background-color: white;
  border-radius: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 17px;
  box-sizing: border-box;
  margin: 10px 0 0 70px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.icone {
  width: 200px;
  height: 200px;
}

.imagem {
  width: 336px;
  height: 304px;
}

#msg {
  font-size: 18px;
  font-weight: bold;
}

#none {
  color: #0a3871;
  font-family: couriernew, garamond, cambria;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.rodape {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  color: #0a3871;
  height: 3.5rem;
  width: 100%;
  bottom: -70px;
}

.rodape a {
  text-decoration: none;
  color: #0a3871;
}

/* Quando o texto for selecionado */
::selection {
  background-color: #0f4c81;
  color: #ffffff;
}

h3 {
  color: #0a3871;
  font-size: 18px;
}







/*Celular*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    flex-direction: column;
    background: #e5e5e5;
  }

  textarea {
    color: #0a3871;
    font-size: 3px;
    border: none;
    background-color: transparent;
    width: 300px;
    font-size: 300px;
    color: #0a3871;
    resize: none;
  }

  #txt-in {
    position: absolute;
    width: 343px;
    height: 480px;
    top: 152px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
  }
  #txt-in::placeholder {
    font-size: 32px;
  }

  .logo {
    position: absolute;
    width: 375px;
    height: 96px;
    left: 40px;
  }


  #txt-out {
    background-color: #fff;
    margin: 3px 2px 1px 2px;
    color: #0a3871;
    font-size: 32px;
    text-align: center;
    color: #495057;
    text-transform: lowercase;
  }
  
  #txt-out::placeholder {
    color: #0a3871;
    font-size: 20px;
    text-align: center;
    color: #495057;
  }

 #decodificar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 3px;
    position: absolute;
    width: 400px;
    height: 500px;
    top: 550px;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }
  
  .info {
    left: 5.3rem;
    top: 30rem
  }

  .imagem {
    width: 33px;
    height: 30px;
  }

  .botoes {
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
    padding: 10px;
    gap: 24px;
    position: absolute;
    width: 400px;
    height: 1px;
    top: 350px;
  }

  .botaocriptador,.botaodescriptador{
    width: 300px;
    height: 65px;
    margin: 0.5rem;
  }

.rodape{
bottom: -500px;
}

}
